%nav#topNav.navbar.fixed-top.navbar-toggleable-sm
  .container
    %button.navbar-toggler.hidden-md-up.float-right{"data-target" => "#collapsingNavbar", "data-toggle" => "collapse", :type => "button"}
      ☰
    %a.navbar-brand.page-scroll{:href => "/#first"} TMS
    #collapsingNavbar.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.page-scroll{:href => "/#one"} Features
        %li.nav-item
          %a.nav-link.page-scroll{:href => "/#two"} Solutions
        %li.nav-item
          %a.nav-link.page-scroll{:href => "/#three"} Pricing
        %li.nav-item
          %a.nav-link.page-scroll{:href => "/#four"} More
        %li.nav-item
          %a.nav-link.page-scroll{:href => "/blog"} Blog
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item
          %a.btn.btn-outline-success{ role: 'button', href: '/tenants/register' } Try NOW!
          -# %a.nav-link.page-scroll{"data-toggle" => "modal", :href => "#aboutModal", :title => "A free Bootstrap theme"} About
