%aside#page-sidebar.col-md-3
  = partial "shared/blog/search.html.haml"
  = partial "shared/blog/email_subscribe.html.haml"
  = partial "shared/blog/tag_cloud"

  .well
    %h4 Side Widget Well
    %p Bootstrap's default well's work great for side widgets! What is a widget anyways...?
