%section#horizontal-features
  .container
    .row
      .col-md-4.feature-item
        .image
          %img{:alt => "", :src => "/images/smallicons-svg/www.svg"}/
        .text
          %h4 Built with Bootstrap 3
          %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus
      .col-md-4.feature-item
        .image
          %img{:alt => "", :src => "/images/smallicons-svg/eye.svg"}/
        .text
          %h4 Easily Custmizable
          %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus
      .col-md-4.feature-item
        .image
          %img{:alt => "", :src => "/images/smallicons-svg/store.svg"}/
        .text
          %h4 20+ Page Options
          %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nam, accusamus
